***Question 1***

Consider the following Python module:


```
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
```


After importing the module into the interpreter, you execute:


```
>>> b()
>>> b()
>>> b()
>>> a
?
```


What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

***ANSWER.1:***

Initially, 'a' is set to 0, which is our starting point.

Now, there's a special function called 'b()'. Inside 'b()', there's another function called 'c()' that takes a number and adds 2 to it, returning the result.

So, what does 'b()' do? Well, it updates the main 'a' by calling 'c()' with the current value of 'a'. This means that 'a' gets increased by 2 each time we call 'b()'.

To see this in action, we call 'b()' three times consecutively. On each call, 'b()' takes the current value of 'a', adds 2 to it using 'c()', and updates the main 'a' with the new value.

Finally, we print the value of 'a'. Since we called 'b()' three times, incrementing 'a' by 2 each time, the final value of a will be 6.

So, if we run this code, we'll see the number 6 as the output. It's because 'a' was progressively increased by 2 over the course of three calls to 'b()'.

***Question 2***


Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:


```
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
```


As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:


```
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.
```

***ANSWER.2:***

In [5]:
import os

def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))

    except FileNotFoundError:
        print(f'file {file_name} not found')

file_length('mid_term.txt')

file_length("id_term.py")

79
file id_term.py not found

***Question 3***

Write a class named Marsupial that can be used as shown below:


```
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
```


Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.


```
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)
```

***ANSWER.3:***

In [6]:
class marsupial(object):
  def __init__(self):
    self.lst = []
  def put_in_pouch(self,thing):
    self.lst.append(thing)
  def pouch_contents(self):
    return self.lst

m=marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also extends the Marsupial init constructor to take, as input, the
coordinates x and y of the Kangaroo object, supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and overloads the str operator so it behaves as shown below.

In [7]:
class kangaroo(marsupial):
  def __init__(self,x,y):
    marsupial.__init__(self)
    self.x=x
    self.y=y
  def jump(self,dx,dy):
    self.x+=dx
    self.y+=dy
  def __str__(self):
    return 'I am a kangaroo located at coordinates({},{})'.format(self.x,self.y)

k = kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a kangaroo located at coordinates(3,0)

***Question 4***

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.


```
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1
```

***ANSWER.4:***

In [9]:
def collatz(n):
  print("output: ",end=" ")
  while(not n==1):
    print(n,end=" ")
    if(n%2==0):
      n=n//2
    else:
      n=3*n+1
  print(n)

collatz(1)
collatz(10)

output:  1
output:  10 5 16 8 4 2 1

***Question 5***

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.


```
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001
```

***ANSWER.5:***

In [10]:
def binary(number):

    if number == 0:
        return 0

    ans = binary(number // 2)

    return number % 2 + 10 * ans
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

***Question 6***

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.


```
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles
```

***ANSWER.6:***

In [16]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headers = ["h1", "h2","h3","h4","h5","h6"]
    current = -1

    def handle_starttag(self, tag, attrs):
        if tag in HeadingParser.headers:
            HeadingParser.current = HeadingParser.headers.index(tag)

    def handle_endtag(self, tag):
        if tag == HeadingParser.headers[HeadingParser.current]:
            HeadingParser.current = -1

    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

infile = open("w3c.html","r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

***Question 7***

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.


```
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
```

***ANSWER.7:***

In [17]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):

  def __init__(self,url):
    super().__init__()
    self.url = url
    self.links = []

  def handle_starttag(self, tag, attrs):
    if tag == 'a':
      for attr in attrs:
        if attr[0] == 'href':
          absolute = urljoin(self.url, attr[1])
          if absolute[:4] == 'http':
            self.links.append(absolute)

  def getLinks(self):
    return self.links


def webdir(url, depth, indent):
  if depth < 0:
    pass

  print("\t"*indent + url)
  resource = urlopen(url)
  content = resource.read().decode()
  collector = Collector(url)
  collector.feed(content)
  links = collector.getLinks()

  for link in links:
    webdir(link, depth-1, indent+1)


webdir("http://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

***Question 8***

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

***ANSWER.8:***

In [18]:
import sqlite3
con = sqlite3.connect('city.db')
cur = con.cursor()
cur.execute("CREATE TABLE cityweather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [19]:
cur.execute("INSERT INTO cityweather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO cityweather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO cityweather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO cityweather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO cityweather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO cityweather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO cityweather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO cityweather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO cityweather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO cityweather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO cityweather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO cityweather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

8(a) All the temperature data

In [20]:
cur.execute("Select Temperature from cityweather ")
for i in cur:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

8(b) All the cities, but without repetition

In [21]:
cur.execute('SELECT DISTINCT City FROM cityweather')
for i in cur:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

8(c) All the records for India

In [22]:
cur.execute("SELECT * FROM cityweather WHERE Country='India'")
for i in cur:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

8(d) All the Fall records

In [23]:
cur.execute("SELECT * FROM cityweather WHERE Season='Fall'")
for i in cur:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

8(e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters

In [24]:
cur.execute("SELECT City,country,Season FROM cityweather WHERE Rainfall BETWEEN 200 AND 400")
for i in cur:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

8(f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order

In [25]:
cur.execute("SELECT City,country,temperature FROM cityweather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
for i in cur:
    print(i)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

8(g) The total annual rainfall for Cairo

In [26]:
cur.execute("SELECT City,SUM(Rainfall) FROM cityweather WHERE City='Cairo'")
for i in cur:
    print(i)

('Cairo', 27.6)

8(h) The total rainfall for each season

In [27]:
cur.execute("SELECT Season,SUM(Rainfall) FROM cityweather GROUP BY Season")
for i in cur:
    print(i)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

***Question 9***

 Suppose list words is defined as follows:


```
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
```


Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

***ANSWER.9:***

In [28]:
words = ['The', 'Quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog' ]

upper_word = [i.upper() for i in words]
lower_word = [i.lower() for i in words]
len_word = [len(i) for i in words]
zip = [[a , b , c] for (a, b, c) in zip(upper_word, lower_word, len_word)]
four_char = [i for i in words if len(i)>3]

print(f'a: {upper_word}')
print(f'b: {lower_word}')
print(f'c: {len_word}')
print(f'd: {zip}')
print(f'e:{four_char}')

a: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c: [3, 5, 5, 3, 5, 4, 3, 4, 3]
d: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e:['Quick', 'brown', 'jumps', 'over', 'lazy']